$bar-w: 1.25em;
$bar-h: 5 * $bar-w;
$n: 10;
$c: #63a6c1 #1e3f57; // 1st = light 2nd = dark
$loader-w: $n * $bar-w;

@keyframes bar {
    0% {
        transform: rotate(-.5turn) rotateX(-1turn);
    }

    75%,
    100% {
        transform: none;
    }
}

@for $i from 0 to $n {
    // list of mix() arguments for current bar
    $args: append($c, $i * 100% / ($n - 1));

    .bar:nth-child(#{$i + 1}) {
        background: mix($args...);
        animation: bar 3s cubic-bezier(.81, .04, .4, .7) infinite;
        animation-delay: $i*50ms;
        margin-left: ($i - .5 * $n) * $bar-w;
    }
}


div {
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.bar {
    width: $bar-w;
    height: $bar-h;
    background: currentColor;
    bottom: 0;

}

.loader {
    width: $loader-w;
    height: $bar-h;
    box-shadow: 0 0 0 1px red;
    margin-left: -.5 * $loader-w;
    -webkit-box-reflect: below 0 linear-gradient(rgba(255, 255, 255,0), rgba(255, 255, 255, .7));
    perspective: 62.5em;
}