.circle-container {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    border-top: 2px solid #fff;
    border-left-color: rgba(0, 0, 0, .6);
    border-bottom-color: rgba(0, 0, 0, .8);
    animation: circleRotate 2s ease 0.1s normal infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}