body {
    padding: 10rem;
}

.pxsbx {
    position: relative;
    width: 100px;
    height: 80px;
    background: #000;
}

.pxsbx::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid;
    border-right: 20px solid;
    border-left: 20px solid transparent;
}

.pxsbx::after {
    content: "";
    position: absolute;
    right: -40px;
    width: 0;
    height: 0;
    border-top: 40px solid;
    border-left: 20px solid;
    border-bottom: 40px solid transparent;
    border-right: 20px solid transparent;
}