/* 饼状图转圈 */
@keyframes gundong {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    padding: 5rem;
}

div {
    /* margin: 2rem; */
}

.circle {
    width: 5rem;
    height: 5rem;
    background: #fff;
    border: 10px solid #f00;
    border-radius: 50%;
    opacity: .8;
}

.pie-parent {
    position: relative;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 50%;
    opacity: .7;
}

.pie {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 50%;
    opacity: .7;
    clip: rect(0, 200px, 200px, 100px);
    overflow: hidden;
    animation: gundong 500ms infinite;
    animation-timing-function: linear;
}

.pie::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #f00;
    border-radius: 50%;
    opacity: .7;
    clip: rect(0, 100px, 200px, 0px);
    transform: rotate(120deg);
}

.pie::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 50%;
    opacity: .7;
    clip: rect(0, 100px, 200px, 0px);
    transform: rotate(90deg);
}