body {
    padding: 5rem;
}

.wjx {
    position: relative;
    width: 0;
    height: 0;
    border-top: 30px solid;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.wjx::before {
    position: absolute;
    top: -30px;
    left: -40px;
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(72deg);
}

.wjx::after {
    position: absolute;
    top: -30px;
    left: -40px;
    content: "";
    width: 0;
    height: 0;
    border-top: 30px solid;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(-68deg);
}

div~p {
    background: green;
    font-size: 2rem;
}

p.test {
    font-size: 3rem;
}